.col1, .col2, .col3, .cols{float:center;}
.col11{ width:200px;height:1060px;  float:left; padding-top:50px; border: 3px solid #aaaaaa; }
.col1 {width:267px}
.col19{width:1060px; height:1020px; padding-top:5px; float:left}
.col18{width:670px; height:1105px; padding-top:5px; float:left ; border: 3px solid #aaaaaa; }
.col2 {width:650px}
.cols {width:304px}
.col3 {width:393px}
/* index.html */
#page1 h1 {padding:27px 0 0 0}
#page1 #search {padding:46px 0 10px 0}
#page1 #menu {margin-top:32px;margin-bottom:35px}
#page1 .img {right:-13px;top:236px}
#page1 .text {text-align:center;padding:0;width:100%}
#page1 header {height:300px}
/* index-1.html */
/* index-2.html */
#page3 .cols {width:215px}
/* index-3.html */
/* index-4.html */
/* index-5.html */
/* index-6.html */